* {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.main {
  width: 100%;
  height: 100vh;
}

.heading {
  padding-top: 10vh;
  width: 50%;
}

.color-code {
  margin-top: 50px;
  margin-bottom: 10px;
  display: inline-block;
  color: aqua;
  background-color: black;
}
